{% extends 'base.html' %}

{% block admin-panel %}
    <div class="btn-group">

        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Delete</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="">Post</a>
            <a class="dropdown-item" href="">Tag</a>
        </div>

    </div>
    <button type="button" class="btn btn-outline-secondary">Create Tag</button>
{% endblock %}